/.env
/vendor/
/node_modules/
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/**/*.log
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/data/*
/storage/framework/platform-write.lock
/.phpunit.cache/
/storage/setup.key
/storage/installed.lock
/storage/install.mutex
/storage/backups/
/storage/app/
/public/uploads/
